@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-gh-bg: #070e18;
  --color-gh-card: #0000003b;
  --color-gh-border: #00142b00;
  --color-gh-text-primary: #ffffff;
  --color-gh-text-secondary: #7d8590;
  --color-gh-blue: #2f81f7;
  --color-gh-green: #238636;
  --color-gh-green-hover: #2ea043;
  --color-gh-purple: #a371f7;
}

body {
  background-color: var(--color-gh-bg);
  color: var(--color-gh-text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
